*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../bootim.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
   
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
  margin-left: -65px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  font-weight: 350;  
}
.navbar{
    margin-right: -65px; 
}
.navbar a{
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 350;
    padding-left: 20px;  
}
.container h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 3.5rem;
}
.container h3{
    color: white;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.container hr{
    height: 0.1rem;
    margin-left:  13px; ;
    margin-right: 13px;
    border-width:0;
    color:white;
    background-color:white;
    
}
.icon{
    display: flex;
    justify-content: space-between;
}
.twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;

}
.github{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;

}
.linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    width: 130px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;

}
.ticon{
    width: 15px;
    height: 15px;
    margin-right: 4px;
}
.gicon{
    width: 20px;
    height: 15px;
    margin-right: 4px;
}
.licon{
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

